body{
  font-family: 'Kanit', sans-serif ;
 } 

.title-box{
  border: 1px dashed gray;
  background-image: url(https://pixabay.com/get/g7a892cc3913be2529a78b1eb9c8d408f49b39b1b2ffbcc90744f3ba9a7e9ce62785a7d61febec99e553d3000cae31fbc9111f77bf6f31abfd0fb6fecb1b0a108_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: hard-light;
  color: black;
    text-shadow: 2px 2px 4px #000000;
  }
  .content-box{
  
    color: black;
  
  }
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
 

.contactform {
  width: 50%;
  margin-left: 16px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

.fa-youtube{
  color: red;
  font-size: 30px;
}
